#logo-bar {
  height: 150px;
  background-color: rgb(42, 41, 41);
}
#logo {
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

.txt-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin-left: 10%; */
  margin-right: 5%;
  color: rgb(234, 212, 15);
}

.txt-results-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5%;
  color: rgb(234, 212, 15);
}
.frm-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(234, 212, 15);
}

#who-you {
  width: 80%;
  padding: 15px;
  margin: 10px 10% 30px;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: rgb(234, 212, 15);
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  z-index: -1;
}

.fas {
  position: absolute;
  margin-top: 50px;
  margin-left: 40px;
}

form {
  
  margin: 30px auto 30px auto;
}

form button {
  margin-left: 100px;
}

#coll-location {
  padding-left: 20px;
  margin-bottom: 10px;
}

.output_params_txt {
  color: blue;
  font-weight: 600;
  font-size: larger;
}

.chart-visual {
  margin-bottom: 30px;
}


#frm-options {
  margin-left: 50px;
  padding-left: 0px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

h1.user_banner{
  background-color: gold;
  color: rgb(50, 50, 50);
}

ol#estimated_cost_swati {
  font-size: 60px;
}

footer {
  /* position: relative; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

#list_top_5_states_by_salary_hs>li{
  font-size: larger;
  color: blue;
}
