#logo-bar {
  height: 200px;
  background-color: rgb(42, 41, 41);
}
#logo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.txt-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20%;
  margin-right: 5%;
  color: rgb(234, 212, 15);
}

#who-you {
  width: 80%;
  padding: 15px;
  margin: 10px 10% 30px;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: rgb(234, 212, 15);
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  z-index: -1;
}

.fas {
  position: absolute;
  margin-top: 50px;
  margin-left: 40px;
}

form {
  margin-left: 130px;
  margin-right: auto;
}

form button {
  margin-left: 100px;
}

#coll-location {
  padding-left: 20px;
  margin-bottom: 10px;
}
