{% extends "base.html" %}
{% block content %}
    
    

    <div id="frm-options" class="container">

      <h2 class="txt-heading">Choose your Options:</h2>

      <form action="http://localhost:5000/csresults" method="POST">
        <div class="form-group col-md-4">
          <label for="state">What State do you plan to live in
            <?/label>
                <select id="state" name="state" class="form-control">
                </select>
              </div>
      
              <div class="form-group col-md-4">
                <label for="major">What is your Major?</label>
                <select id="major" name="major" class="form-control">
                </select>
              </div>
      
              <div class="form-group col-md-4">
                <label for="loan">What is your student loan debt?</label>
                <input type="text" id="loan" name="loan" />
              </div>
      
              <br />
      
              <button type="submit" class="btn btn-primary"/>Submit</button>
            
              {% if feedback %}
                <p class="text-danger float-right">{{ feedback }}</p>
              {% endif %}
            </form>
    </div>
    
          <hr />

          </div>
        </div>
        <script>

          //set reference to the dropdown
          let select = document.getElementById('major');

          //clear existing options if page is reloaded
          select.options.length = 0;

          //set the major categories - will pull from major_category_only
          let major_category = [
            'Agriculture & Natural Resources',
            'Arts',
            'Biology & Life Science',
            'Communications & Journalism',
            'Computers & Mathematics',
            'Education',
            'Engineering',
            'Humanities & Liberal Arts',
            'Industrial Arts & Consumer Services',
            'Law & Public Policy',
            'Physical Sciences',
            'Psychology & Social Work',
            'Social Science',
          ];
          for (index in major_category) {
            select.options[select.options.length] = new Option(major_category[index], major_category[index]);

            
          }

          let stateSelect = document.getElementById('state');

          //clear existing options if page is reloaded
          stateSelect.options.length = 0;

          let states = ['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Federated States of Micronesia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Marshall Islands', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];

          for (index in states) {
            stateSelect.options[stateSelect.options.length] = new Option(states[index], states[index]);
            
          }

        </script>
{% endblock %}