{% extends "base.html" %}

{% block content %}
            
<div class="row" style="margin-left:auto; margin-right: auto;">
    <div class="col-sm" style="margin-left:auto; margin-right:auto; padding-left:60px;">
      <span class="dot"><a id="high-school" href="/hsoptions"><i class="fas fa-user-graduate"
            style="padding-left: 20px; font-size:100px;30px;color:rgb(86, 83, 241)"></i></a></span>
            <h5 style="margin-left: 20px;">High School Student</h5>
    </div>
    <div class="col-sm" style="margin-left:auto; margin-right:auto; padding-left:60px;">
      <span class="dot"><a id="college" href="/csoptions"><i class="fas fa-dollar-sign"
            style="padding-left: 30px; font-size: 100px; color: rgb(86, 83, 241);"></i></a></span>
            <h5 style="margin-left: 40px;">College Student</h5>
    </div>
    <div class="col-sm" style="margin-left:auto; margin-right:auto; padding-left:60px;">
      <span class="dot"><a id="guardian" href="/parents"><i class="fas fa-chalkboard-teacher"
            style="font-size: 100px; color: rgb(86, 83, 241);"></i></a></span>
            <h5 style="margin-left: 40px;">Parent/Counselor</h5>
          </div>
<br/>
<br/>       
</div>

<h2 class="txt-heading" style="text-align: center;">Pick a Category to begin Researching</h2>

<h4>welcome!.  We want to provide you with the best information possible to make an informed decision.</h4>
<h4>{{ message }} </h4>
{% endblock %}