<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c9b3d792e6.js"
      crossorigin="anonymous"
    ></script>
    <title>FortunED - know your worth</title>
  </head>
  <body>
      <div id="logo-bar" class="navbar navbar-dark bg-dark">
        <img
          src="../static/img/logo_transparent.png"
          id="logo"
          alt="fortunED logo"
        />
      </div>
      <h1 class="user_banner text-center">Welcome Parent/Guardian</h1>
      <div class="container">
      <h4 class="text-center">Employment Data by Demographic</h3>
      <div class="row">
        <div class="d-flex justify-content-around col-12">
          <button type="button" class="btn btn-warning" value="total" onclick="update(this.value)">Overall</button>
          <button type="button" class="btn btn-warning" value="men" onclick="update(this.value)">Men</button>
          <button type="button" class="btn btn-warning" value="women" onclick="update(this.value)">Women</button>
          <button type="button" class="btn btn-warning" value="white" onclick="update(this.value)">White</button>
          <button type="button" class="btn btn-warning" value="black" onclick="update(this.value)">Black</button>
          <button type="button" class="btn btn-warning" value="asian" onclick="update(this.value)">Asian</button>
          <button type="button" class="btn btn-warning" value="hispanic" onclick="update(this.value)">Hispanic</button>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <div id="scatter">
            <!-- We append our chart here. -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">For More Information on Your Child's Options:</h3>
        </div>
        <div class="col-6 text-center">
          <a href="/hsoptions"><button type="button" class="btn btn-warning btn-lg">Click for High School Student</button></a>
        </div>
        <div class="col-6 text-center">
          <a href="/csoptions"><button type="button" class="btn btn-warning btn-lg">Click for College Student</button></a>
        </div>
      </div>
    </div>
    <hr />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/parents.js') }}"></script>
    <!-- <script type="text/javascript" src="../static/js/parents.js"></script> -->
  </body>
</html>
