<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boostrap & Our CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <title>COVID Analysis</title>
  </head>
  <body>
    <!-- header / top nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/"
        ><img src="../static/img/logo_transparent.svg"
      /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-text">
          A deep dive analysis into the impact COVID-19 has had on New York's
          Counties.
        </span>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../team.html">Our Team</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <canvas id="list_major_income_top_five_smiti"></canvas>
            <div class="card-body">
              <h5 class="card-title">5 top majors by median income, for major_category (LIST) (Smiti)</h5>
              <p class="card-text">#</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <canvas id="list_best_state_wage_salvador"></canvas>
            <div class="card-body">
              <h5 class="card-title">best states by state_wage_data for major_category (LIST) (Salvador)</h5>
              <p class="card-text">#</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <canvas id="pay_off_over_time_waterfall_salvador"></canvas>
            <div class="card-body">
              <h5 class="card-title">pay off over time (LINE GRAPH/ WATERFALL) (Salvador)</h5>
              <p class="card-text">#</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <canvas id="top_five_state_fastest_pay_off_smiti"></canvas>
            <div class="card-body">
              <h5 class="card-title">top 5 states for fastest pay off (LIST) (Smiti)</h5>
              <p class="card-text">#</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <canvas id="pay_oof_vs_percent_salvador"></canvas>
            <div class="card-body">
              <h5 class="card-title">pay off period vs percent being paid (based on what they specify) (HORIZONTAL (x axis = pay off period) BAR GRAPH) (Smiti)</h5>
              <p class="card-text">#</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <canvas id="estimated_cost_swati"></canvas>
            <div class="card-body">
              <h5 class="card-title">Estimated Cost based on time frame (SUMMARY CARD) (Swati)</h5>
              <p class="card-text">#</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <canvas id="tuition_change_firzana"></canvas>
              <div class="card-body">
                <h5 class="card-title">How tuition has changed over time (LINE GRAPH) (Firzana)</h5>
                <p class="card-text">#</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <canvas id="median_income_by_all_major_firzana"></canvas>
              <div class="card-body">
                <h5 class="card-title">Median Income by major (TABLE with ranges) (Firzana) (ALL MAJORS)</h5>
                <p class="card-text">#</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <canvas id="five_states_for_work_firzana"></canvas>
              <div class="card-body">
                <h5 class="card-title">5 best states to work in for major_category (LIST) (Firzana)</h5>
                <p class="card-text">#</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <canvas id="all_occ_swati"></canvas>
              <div class="card-body">
                <h5 class="card-title">ALL Occupations and low-med-high salary by major_category (given) (TABLE) (Swati)</h5>
                <p class="card-text">#</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <canvas id="avg_tuition_all_state_time_karl"></canvas>
              <div class="card-body">
                <h5 class="card-title">Average of 50 states tuition by year (LINE GRAPH) (Karl) IN STATE & OUT of STATE</h5>
                <p class="card-text">#</p>
              </div>
            </div>
          </div>
        </div>  
    </div>
    {% block javascript %}
    <script>
        // javascript goes here
    </script>
    {% endblock %}

    <!-- example of a chart -->
    <!-- //Horizontal Bars
  new Chart(document.getElementById('barChartHorizontal'), {
    type: 'horizontalBar',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Median Income',
          backgroundColor: ['pink', 'lightblue',"coral",'red', 'teal', 'purple','lightgreen'],
          data: median,
        },
      ],
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Median Income by Race',
      },
    },
  }); -->
  
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>
    </html>