<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boostrap & Our CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

    <title>COVID Analysis</title>
</head>

<body>
    <!-- header / top nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <!-- <img src="../static/img/logo_transparent.svg"/> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text">
          A deep dive analysis into the impact COVID-19 has had on New York's
          Counties.
        </span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../team.html">Our Team</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <!-- <canvas id="list_major_income_top_five_smiti"></canvas> -->
                    <div class="card-body">
                        <h5 class="card-title">Top 5 Majors by Median Income</h5>
                        <p class="card-text">
                            <ol class="content" id="list_top_5_majors_by_income_cs">
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="list_best_state_wage_salvador"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">best states by state_wage_data for major_category (LIST) (Salvador)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="pay_off_over_time_waterfall_salvador"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">pay off over time (LINE GRAPH/ WATERFALL) (Salvador)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <!-- <canvas id="top_five_state_fastest_pay_off_smiti"></canvas> -->
                    <div class="card-body">
                        <h5 class="card-title">Top 5 States By Earliest Loan Pay Off Time</h5>
                        <p class="card-text">
                            <ol class="content" id="list_top_5_states_fastest_pay_off_cs">
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <!-- <canvas id="pay_off_vs_percent_smiti"></canvas> -->
                    <canvas id="pay_off_vs_percent_cs"></canvas>
                    <div class="card-body">
                        <!-- <h5 class="card-title">pay off period vs percent being paid</h5> -->
                        <p class="card-text">This shows how loan pay off period would vary with varied percentages of income being applied towards loan repayment.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="estimated_cost_swati"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">Estimated Cost based on time frame (SUMMARY CARD) (Swati)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="tuition_change_firzana"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">How tuition has changed over time (LINE GRAPH) (Firzana)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="median_income_by_all_major_firzana"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">Median Income by major (TABLE with ranges) (Firzana) (ALL MAJORS)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="five_states_for_work_firzana"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">5 best states to work in for major_category (LIST) (Firzana)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <table class="table" id="all_occ_swati">
                        <thead class="bg-warning">
                            <tr>
                                <th data-field="id">#</th>
                                <th data-field="name">Item Name</th>
                                <th data-field="price">Item Price</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="card-body">
                        <h5 class="card-title">ALL Occupations and low-med-high salary by major_category (given) (TABLE) (Swati)</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <canvas id="avg_tuition_all_state_time_karl"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">Average of 50 states tuition by year (LINE GRAPH) (Karl) IN STATE & OUT of STATE</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascript %}
    <script>
        // javascript goes here

        // list_top_5_majors_by_income_cs

        var top_5_majors_list = ['AGRICULTURAL ECONOMICS', 'SOIL SCIENCE', 'FOOD SCIENCE', 'FORESTRY', 'AGRICULTURE PRODUCTION AND MANAGEMENT']

        var resultcontent = '';
        for (i = 0; i < top_5_majors_list.length; i++) {
            majors_split = top_5_majors_list[i].split(" ")
            majors_camel_case = majors_split.map(data => data.toLowerCase().charAt(0).toUpperCase() + data.toLowerCase().slice(1).toLowerCase())
            major = majors_camel_case.join(' ')
            resultcontent += '<li>' + major + '</li>'

        }

        $("#list_top_5_majors_by_income_cs").append(resultcontent);

        // list_top_5_majors_by_income_cs

        var top_5_states_list = ['District of Columbia', 'New Jersey', 'Connecticut', 'Rhode Island', 'Delaware']

        var resultcontent = '';
        for (i = 0; i < top_5_states_list.length; i++) {
            resultcontent += '<li>' + top_5_states_list[i] + '</li>'
        }

        $("#list_top_5_states_fastest_pay_off_cs").append(resultcontent);

        // pay_off_vs_percent_cs

        var pay_off_data = {
            'state': 'Alaska',
            'living_wage': 26528,
            'major_category': 'Agriculture & Natural Resources',
            'annual_salary': 42408,
            'Debt': 50000,
            'Percentages': [20, 30, 50],
            'time_to_repay': [50, 18, 9]
        }

        var Percentages = pay_off_data["Percentages"]
        var time_to_repay = pay_off_data['time_to_repay']

        new Chart(document.getElementById('pay_off_vs_percent_cs'), {
            type: 'horizontalBar',
            data: {
                labels: Percentages,
                datasets: [{
                    label: 'Years to Repay Loan',
                    backgroundColor: ['orange', 'yellow', 'lightgreen'],
                    data: time_to_repay
                }],
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Pay Off Period Variation',
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Years to Repay Loan'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '% of Income towards Loan Repay'
                        }
                    }]
                }
            }
        });
    </script>
    {% endblock %}
</body>

</html>