<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boostrap & Our CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

    <title>COVID Analysis</title>
</head>

<body>
    <!-- header / top nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <!-- <img src="../static/img/logo_transparent.svg"/> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text">
                A deep dive analysis into the impact COVID-19 has had on New York's
                Counties.
            </span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../team.html">Our Team</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <!-- <canvas id="list_best_state_wage_salvador"></canvas> -->
                    <div class="card-body">
                        <h5 class="card-title">States with highest income:</h5>
                        <p class="card-text">
                        <ol class="content" id="list_top_5_states_by_salary_hs">
                        </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <!-- <canvas id="pay_off_over_time_waterfall_salvador"></canvas> -->
                    <canvas id="pay_off_over_time_waterfall_cs"></canvas>
                    <div class="card-body">
                        <h5 class="card-title">Loan Payback Period</h5>
                        <p class="card-text">This chart shows the remaining debt on your loan throughout the years
                            considering a yearly payment of 30% of residual
                            income and assuming the national average of college loan interest rates of 6%</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- {% block javascript %} -->
        <script>

            var top_states = {
                'District of Columbia': 60569.0,
                'New York': 50682.0,
                'Connecticut': 50306.0,
                'Massachusetts': 50143.333333333336,
                'Washington': 49753.333333333336
            }

            var resultcontent = '';
            Object.entries(top_states).forEach(function ([key, value]) {
                state=key
                income = `$${Math.round(value,0)}`
                resultcontent += '<li>' + `${state} - ${income}` + '</li>'
            });

            $("#list_top_5_states_by_salary_hs").append(resultcontent);

            var waterfall = {
                'Year 0': { 'Payed': 0, 'Remaining': -80000 },
                'Year 1': { 'Payed': 8825.7, 'Remaining': -71174.3 },
                'Year 2': { 'Payed': 9355.24, 'Remaining': -61819.06 },
                'Year 3': { 'Payed': 9916.56, 'Remaining': -51902.5 },
                'Year 4': { 'Payed': 10511.55, 'Remaining': -41390.95 },
                'Year 5': { 'Payed': 11142.24, 'Remaining': -30248.71 },
                'Year 6': { 'Payed': 11810.78, 'Remaining': -18437.93 },
                'Year 7': { 'Payed': 12519.42, 'Remaining': -5918.51 },
                'Year 8': { 'Payed': 5918.51, 'Remaining': 0 }
            }

            var years = []
            var bars = []
            var backgroundColors = []

            Object.entries(waterfall).forEach(function ([key, value]) {
                years.push(key)
                if (key == "Year 0") {
                    year0_arr = [value.Remaining, value.Payed]
                    bars.push(year0_arr)
                    backgroundColors.push('#ff6e80')
                } else {
                    from = value.Remaining - value.Payed;
                    to = value.Remaining
                    year_arr = [from, to]
                    bars.push(year_arr)
                    backgroundColors.push('#a1ffb3')
                }
            });

            new Chart(document.getElementById('pay_off_over_time_waterfall_cs'), {
                type: 'bar',
                data: {
                    labels: years,
                    datasets: [{
                        label: 'Years after college',
                        backgroundColor: backgroundColors,
                        data: bars
                    }],
                },
                options: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Loan Amortization',
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Years after college'
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Debt Amount'
                            }
                        }]
                    }
                }
            });
        </script>
        <!-- {% endblock %} -->
</body>

</html>